@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Inter:wght@400;700;800&family=Overpass:wght@300;600&family=Roboto:wght@400;700&family=Rubik:wght@300;400;500&family=Ubuntu:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}
.body {
  margin-top: 10vh;
  text-align: center;
  width: 100%;
}
.titles {
  margin-top: 7vh;
  font-size: 1.8rem;
  color: hsl(208, 49%, 24%);
}
p {
  padding: 5px 20px;
}
.img {
  margin-top: 7vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.phoneback {
    margin-top: 7vh;
    background-image: url('./bg-pattern-circles.svg');    
    background-color: hsl(207, 13%, 34%);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}
@media only screen and (max-width: 900px) {
  .em {
    max-width: 100%;
    margin-top: 5vh;
  }
  .col-1 {
    padding: 10px 20px;
  }
  .edd {
    display: none;
  }
  .phoneback {
    margin-top: 30vh;
  }
  .phone {
    width: 100vw;
    position: relative;
    top: -20vh;
  }
  .state .titles {
    color: #fff;
  }
  .state p {
    position: relative;
    top: -25vh;
    color: #fff;
  }
  .laptopd {
    display: none;
  }
  .laptopm {
    margin-top: 10vh;
    text-align: center;
    width: 100vw;
  }
}

@media only screen and (min-width: 901px) {
  .row {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .em {
    display: none;
  }
  .row .col-1 {
    width: 60vw;
    padding: 0 2vw;
    font-size: 1.1rem;
    padding-left: 8vw;

  }
  .titles {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3vh;
  }
  .col-1 p {
    text-align: left;
  }
  .ed {
    width: 40vw;
    height: 100vh;
  }
  .row {
    display: flex;
  }
  .phoneback {
    height: 60vh;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 5%;
    color: #fff;
    text-align: left;
  }
  .phoneback .titles {
    margin-bottom: 15vh;
    color: #fff;
  }
  .phone {
    position: relative;
    top: 5vh;
    width: 100vw;
    height: 90vh;
  }

  .phoneback p {
    font-size: 1.2rem;
  }
  .last {
    display: flex;
    align-items: center;
    margin-top: 15vh;
    padding-right: 5%;
  }
  .laptopd {
    position: relative;
    left: -20vw;
  }
  .laptopm {
    display: none;
  }
  .lastp {
    width: 100%;
    margin-left:-20vw;
  }
  .lastp p {
    text-align: left;
  }

}
