@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Inter:wght@400;700;800&family=Overpass:wght@300;600&family=Roboto:wght@400;700&family=Rubik:wght@300;400;500&family=Ubuntu:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}
:root {
  --light-red: hsl(356, 100%, 66%);
}
header {
  width: 100%;
  text-align: center;
  color: #fff;
  background: linear-gradient(
    left to right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
}
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.btn1 {
  background-color: #fff;
  color: var(--light-red);
}
.content .btn2 {
  background-color: inherit;
  color: #fff;
  border: 2px solid #fff;
}
.light.active,
.dark.active {
  transform: rotateY("90deg");
}
@media only screen and (max-width: 900px) {
  header {
    background-image: url("../src/bg-pattern-intro-mobile.svg");
    background-size: 200%;
    background-position: left;
    background-color: var(--light-red);
    min-height: 70vh;
    color: #fff;
    border-bottom-left-radius: 100px;
    padding-bottom: 30px;
  }
  nav {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
  }

  .toggler.active {
    transition: 0.5s ease-in-out;
    display: block;
    color: #fff;
    z-index: 1;
  }
  .nav-menu {
    width: 85%;
    height: 100vh;
    position: fixed;
    top: 15vh;
    right: -1000px;
    background-color: #fff;
    transition: 0.5s ease-in-out;
    text-align: center;
  }
  .nav-menu.active {
    right: 0;
  }
  .nav-menu li {
    padding-top: 5vh;
    color: #000;
    text-align: center;
    font-size: 1.5rem;
  }
  .nav-link {
    color: #000;
  }
  .content {
    text-align: center;
    padding: 30px 10px;
  }
  .content .modern {
    font-size: 2.5rem;
  }
  .content .m2 {
    margin-top: 20px;
    font-size: 1.5rem;
  }
  .content button {
    margin-top: 5vh;
    display: inline;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    margin-right: 20px;
    width: 40vw;
    height: 10vh;
    font-size: 1.2em;
    font-weight: bold;
  }
  .light {
    display: none;
  }
  #connect:hover,
  #connect:focus {
    color: #ebdddd;
  }
  .dropdown1 {
    display: none;
  }
  .dropdown1.active {
    position: static;
    display: block;
    background-color: rgb(214, 214, 205);
    opacity: 0.7;
    width: 90%;
    margin: 5vh auto;
    color: #221e1e;
  }
  .dropdown1.active .drop-img:first-child {
    padding-top: 10px;
  }
  .dropdown1.active .drop-img {
    padding: 5px;
  }
  .btn1 {
    width: 50vw;
    height: 10vh;
    border: none;
    border-radius: 50px;
    background-color: var(--light-red);
  }
  .btn1 .nav-link {
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 901px) {
  header {
    background-image: url("../src/bg-pattern-intro-desktop.svg");
    background-size: 100%;
    background-position: 50%;
    background-color: hsl(353, 100%, 62%);
    height: 65vh;
    border-bottom-left-radius: 100px;
  }
  nav {
    width: 100%;
    padding: 2% 5%;
    display: flex;
    align-items: center;
  }
  .toggler {
    display: none;
  }
  .logo {
    padding-right: 5vw;
    padding-left: 5vw;
    font-size: 2rem;
    font-weight: bolder;
    padding-top: 2vh;
  }
  .nav-link {
    color: #fff;
    font-size: 120%;
  }
  .nav-item {
    display: flex;
  }
  #product,
  #company,
  #connect {
    width: 250px;
  }

  .login {
    padding-left: 40%;
  }
  .signup .btn1 {
    width: 8vw;
    height: 7vh;
    border-radius: 50px;
    border: none;
  }
  .signup .btn1 .nav-link {
    color: var(--light-red);
    font-weight: bold;
  }
  ul,
  .buttons {
    display: flex;
    align-items: center;
  }
  .btn1, .btn2 {
    font-weight: 600;
  }
  .btn1:hover, .btn1:focus, .btn2:hover, .btn2:focus {
    cursor: pointer;
  }
  li {
    padding-right: 20px;
  }
  .break {
    display: none;
  }
  .content {
    margin-top: 5vh;
  }
  .content .modern {
    font-size: 4rem;
  }
  .content .m2 {
    font-size: 1.5rem;
  }
  .buttons {
    margin-top: 2.5vh;
    width: 20vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  .buttons .btn {
    margin-right: 20px;
    height: 8vh;
    width: 12vw;
    border-radius: 50px;
    border: none;
    font-size: 1.2rem;
  }
  .buttons .btn2 {
    border: 1px solid #fff;
  }
  .dropdown1 {
    position: relative;
    display: none;
  }
  .dark {
    display: none;
  }
  .dropdown1.active {
    position: fixed;
    display: block;
    background-color: #fff;
    height: 22vh;
    top: 11%;
    color: black;
    left: 39vw;
    border-radius: 2px;
    width: 150px;
    text-align: left;
    box-shadow: -5px 2px 8px rgba(0, 0, 0, 0.15);
  }
  .dropdown1.active .drop-img {
    padding: 5px 10px;
    color: rgb(80, 76, 76);
  }
  .dropdown1.active .drop-img:hover,
  .dropdown1.active .drop-img:focus {
    color: #000;
    cursor: pointer;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  nav {
    padding: 2% 3%;
  }
  .login {
    padding-left: 10%;
  }
  .signup {
    margin-right: 20%;
  }
  .dropdown1 {
    position: relative;
    display: none;
  }
  .dark {
    display: none;
  }
  .dropdown1.active {
    position: fixed;
    display: block;
    background-color: #fff;
    height: 22vh;
    top: 11%;
    color: black;
    left: 39vw;
    border-radius: 2px;
    width: 150px;
    text-align: left;
    box-shadow: -5px 2px 8px rgba(0, 0, 0, 0.15);
  }
  .dropdown1.active .drop-img {
    padding: 5px 10px;
    color: rgb(80, 76, 76);
  }
  .dropdown1.active .drop-img:hover,
  .dropdown1.active .drop-img:focus {
    color: #000;
    cursor: pointer;
  }
}
